body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2f2f2f;
  color: #ddd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.full-w-btn,
.half-w-btn {
  width: 100%;
  min-height: 35px;
  background-color: #2f2f2f;
  color: #ddd;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: background-color .2s ease;
}

.full-w-btn:hover,
.half-w-btn:hover {
  background-color: #456d80;
}

.half-w-btn {
  width: 50%;
}